<!-- <form>
<div fxLayout="column" fxLayoutAlign= "center center" fxLayoutGap ="5px">
  <div>
    <h3>Sign Up</h3>
    <p> Wants to sign up fill out this form</p>
  </div>
  <div>
    <label>Enter User Name: </label>
    <input  type="text"  name="name" placeholder="User Name" #name1 ngModel>
    
  </div>

  <div fxFlex="calc(50% - 25px)">
    <label>Enter Password: </label>
    <input type="password" name="pass" placeholder="Password" #pass1 ngModel>
  </div>

  <div>
    <label>Enter Mobile Number: </label>
    <input type="number" name="pass" placeholder="Mobile Number">
  </div>
  
  <div>
    <label>Enter Email ID: </label>
    <input type="email" name="email" placeholder="Email">
  </div>

  <div>
    <button (click)="signup(name1.value)">Sign Up</button>
  </div>
  {{name2}}
  <button (click) ="getItem()"> Press Me</button>
</div> 
</form> 

<button mat-raised-button>Primary</button>
  -->

<div fxLayout="" fxLayoutAlign="center center" style="width: 100%;height:640px;background:#4bbbdb;">
  <div fxLayout="column" class="secDiv">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Enter Your Name" (input)="formvaliate()" [(ngModel)]="userForm.name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="password" placeholder="Enter Password" (input)="formvaliate()" [(ngModel)]="userForm.password">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Re-enter Password" (input)="formvaliate()" [(ngModel)]="userForm.repassword">
    </mat-form-field>
    <mat-error *ngIf="userForm.password && userForm.repassword && userForm.password!= userForm.repassword ">Reenter same
      password</mat-error>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Enter Your Phone Number" [pattern]="'[789][0-9]{9}'" (input)="formvaliate()" [(ngModel)]="userForm.mobno">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="email" placeholder="Enter Your Email Id" (input)="formvaliate()" [(ngModel)]="userForm.email">
    </mat-form-field>

    <button mat-button  (click)="register()" color="Primary" [disabled]="status">Register</button>
  </div>

</div>