<div>
    <div class="balance">
        Account Balance
        Rs:{{userData.balance}}
    </div>
  <div fxLayout="row" fxLayoutGap="25px" class="maindiv">
      <div>
          <p class="para">Gold Pack(100 Rs)</p>
          <ul class="lst">
              <li>Zee</li>
              <li>Sony</li>
              <li>Star Plus</li>
              <li>Net Geo</li>
          </ul>
      </div>
      <div>
          <p class="para">Silver Pack(50 Rs)</p>
          <ul>
              <li>Zee</li>
              <li>Sony</li>
              <li>Star Plus</li>
          </ul>
      </div>
  </div>
  <div class="service">
      <p class="para">Services</p>
      <ul>
          <li>Learn English (200 Rs)</li>
          <li>Learn Cooking (100 Rs)</li>
      </ul>
  </div>
</div>
<button mat-button (click) = "gotoCustomerDetails()">CustomerDetails</button>