.balance {
  margin-top: 19px;
  width: 125px;
  margin-left: calc(100% - 145px);
  position: absolute;
  height: 50px;
  /* border: 1px solid; */
  /* background: whitesmoke; */
  padding: 10px;
}
.maindiv{
  padding-top: 60px;
  padding-left: 25px;
}
.service{
  padding-left: 25px;
}
.para{
  font-size: medium;
    font-weight: initial;
    color: deeppink;
}
