<div>
    <div class="balance">
        Account Balance
        Rs:{{userData.balance}}
    </div>
  <div fxLayout="row" fxLayoutGap="25px" class="maindiv">
      <div>
          <h5>Gold Pack(100 Rs)</h5>
          <ul class="lst">
              <li>Zee</li>
              <li>Sony</li>
              <li>Star Plus</li>
              <li>Net Geo</li>
          </ul>
      </div>
      <div>
          <h5>Silver Pack(50 Rs)</h5>
          <ul>
              <li>Zee</li>
              <li>Sony</li>
              <li>Star Plus</li>
          </ul>
      </div>
  </div>
  <div class="service">
      <h5>Services</h5>
      <ul>
          <li>Learn English (200 Rs)</li>
          <li>Learn Cooking (100 Rs)</li>
      </ul>
  </div>
</div>