.parent{
    border: 1px dotted black;
    width:400px;
}
.box{
    height: 100px;
    width: 100px;
    background: red;
}
.parent2{
    border: 1px dotted black;
    margin-top: 4px;
}
.parent3{
    margin-top: 4px;
}
.parent4{
    margin-top: 4px;
}
.parent6{
    display: inline-block;
    margin-top: 4px;
}
.box2{
    height: 100px;
    width: 100px;
    background: red;
    display: inline-block;
    margin-left: 4px;
}
.two{
    background: green;
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-left: 4px;
    position: absolute;
    left: 20px;
}
.tp{
    color:navy;
    background: rgb(140, 240, 178);
    width: 105px;
    height: 31px;
    cursor: progress;
}