<div fxLayout="column" style="width: 100%" fxLayoutGap="5px">
    <div fxFlex="50" class="secDiv">
        Hi
    </div>
    <div fxFlex="50" class="secDiv">
        bye
    </div>
    <div appChangecolor>
        This is 
    </div>
    <b>Square root of 25 is: {{25 | sqrt}}</b>
</div>

<div fxLayout="row" fxLayoutGap="5px" *ngFor="let per of person">
    
        <div>{{per.id}} </div>
        <div>{{per.name | uppercase}}</div>
        <div>{{per.MiddleName}}</div>
        <div>{{per.LastName}} </div>
        <button (click)="check(per)">Store</button>
        <button (click)="getData()">get</button>
</div>