.btn{
    background: wheat;
    width: 20vh;
    background: rgb(200, 234, 236);
}
.md{
    width: 300px;
    height: 200px;
    padding: 8px;
    background: rgb(200, 234, 236);
}
.span2{
    display: inherit;
}
.btn1{
    background: #7d9faf;
}
.para{
    margin-bottom: 10px;
    color: black;
    font-size: 17px;
    padding-left: 54px;
}
.heading{
    color: black;
    font-family: sans-serif;
}
