<div fxLayout="" fxLayoutGap="35px">
  <div fxLayout="column"  style="padding-left: 25px">
    <div fxLayout="">
      <div>
        <h4 class="heading">Gold Pack</h4>
        <ul>
          <li>Zee</li>
          <li>Sony</li>
          <li>Star Plus</li>
          <li>Net Geo</li>
        </ul>
      </div>
      <div>
        <h4 class="heading">Silver Pack</h4>
        <ul>
          <li>Zee</li>
          <li>Sony</li>
          <li>Star Plus</li>
        </ul>
      </div>
    </div>
    <div>
    </div>
    <div fxLayout="column" fxLayoutGap="10px" *ngIf="!userData.service">
      <p class="para"> Services</p>
      <div class="span2">
        <span>English Service:  </span>
        <div class="leftPadd"> <button class="btn1" (click)="buyEnglishService()" mat-button>Subscribe</button></div>
        
      </div>

      <div class="span2">
        <span>Cooking Service:   </span>
        <div class="leftPadd1"><button class="btn1" (click)="buyCookingService()" mat-button>Subscribe</button></div>
      </div>
      <p *ngIf="isSufficieantBalance">Total Service Cost:{{totalAmt}}</p>
    </div>
    <div *ngIf="userData.service" style="color: rgb(128, 0, 0)">You have already subcribe {{userData.service}} Service </div>
    
  </div>

  <div fxLayout="column" fxLayoutGap="4px" style="padding-top: 22px" >
    <div>Add Package</div>
    <div fxLayout="column" *ngIf="!userData.package">
      <mat-form-field>
          <mat-label>Select package</mat-label>
        <mat-select [(ngModel)]="pkg.name" (selectionChange)="calculateAmount()">
          <mat-option *ngFor="let ch of pkgs" [value]="ch.value">
            {{ch.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
          <mat-label> Select Month</mat-label>
          <mat-select [(ngModel)]="pkg.month" (selectionChange)="calculateAmount()">
            <mat-option *ngFor="let ch of month" [value]="ch.value">
              {{ch.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error *ngIf="dis" class="ds">Got discount:{{dis}} </mat-error>
      <h3>Total:{{amount}}</h3>

      <button mat-button [disabled]="!pkg.month && pkg.name" (click)="buy()">Subscribe</button>
    </div>
    <div *ngIf="userData.package" style="color: rgb(128, 0, 0)">You have already subcribe {{userData.package.name}} Pack </div>
  </div>
</div>