.secDiv
{
   
    background: rgb(226, 233, 234);
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    padding: 50px;
}
.btn{
      color: white;
      background:burlywood;
      width:30vh;
      margin-left: 100px;
}
.editbtn{
    background: #b4dde2;
    width: 123px;
}
.editbtn1{
    margin-left: 55px;
    background: #acacdc;
}